<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="css/common.css">
	<link rel="stylesheet" media="screen" href="css/login.css">
	<title>homePage</title>
</head>

<body class="flex-center">
<input type='text' id='userInfoList' hidden th:value='${userInfoList}'>
<div >
<p th:text="${userInfoList}"></p>

<form method="post" action="/homePage">
<table border="1">
<caption>個人情報</caption>
    <tr>
    <th>user_id</th>
    <th>user_name</th>
    <th>age</th>
    <th>sex</th>
    <th>memo</th>
    <th>create_datetime</th>
    <th>upadte_datetime</th>
    <th>pwd</th>
    </tr>
    <tr>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    <td>${userInfoList}</td>
    </tr>
</table>
</form>
</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>	
	<script th:inline='javascript'>
	var userInfoList=document.getElementById('userInfoList');
	console.log(userInfoList);
	
	</script>
	
</body>

</html>