<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="css/common.css">
	<link rel="stylesheet" media="screen" href="css/init.css">
	<title>Init</title>
</head>

<body class="flex-center">
    <table class="init">
        <tr>
            <th>账号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>密码</th>
        </tr>
        <tr th:each="userInfo:${tUserInfo}">
            <td th:text="${userInfo.userId}"></td>
            <td th:text="${userInfo.userName}"></td>
            <td th:text="${userInfo.age}"></td>
            <td th:text="${userInfo.sex}"></td>
            <td th:text="${userInfo.pwd}"></td>
        </tr>
    </table>
</body>

</html>