<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="css/common.css">
	<link rel="stylesheet" media="screen" href="css/login.css">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/materialdesignicons.min.css}">

	<title>Login</title>

</head>

<body class="flex-center center-vh">
<div class="login-box p-5 w-420 mb-0 mr-2 ml-2">
	<div class="text-center mb-3">
		<span class="span_title">hyron技能培训</span>
	</div>
	<form th:action="@{/login}" method="post" class="login-form">
		<p th:text="${errormsg}" class="text-left" style="color: red"/>
		<div class="form-group has-feedback">
			<span class="mdi mdi-account" aria-hidden="true"></span>
			<input type="text" value="" name="id" class="form-control" id="username" placeholder="用户名" required>
		</div>
		<div class="form-group has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
			<input type="password" value="" name="pwd" class="form-control" id="password" placeholder="密码" required>
		</div>
		<div class="form-group">
			<button class="btn btn-block btn-primary" type="submit">立即登录</button>
		</div>
	</form>
</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script>
		$(function () {
			//alert("123");
		});
	</script>
</body>

</html>