<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>test02</title>
	 <link rel="stylesheet" href="../static/css/test02.css">
	<meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script>
	$(document).ready(function() {
    	let name = $("#name").val();
    	let sex = $("#sex").val();
    	let kougo = $("#kougo").val();
    	let age = $("#age").val();
    	
        $("#addbutton").click(function() {
            $("#deletebutton").removeAttr("hidden");
            $("#deletebutton2").removeAttr("hidden");
            $("#addbutton").attr("hidden","didden");
            $("#agetr").removeAttr("hidden");
        });
//     	jquery delete       
        $("#deletebutton").click(function() {
            $("#addbutton").removeAttr("hidden");
            $("#deletebutton").attr("hidden","didden");
            $("#deletebutton2").attr("hidden","didden");
            $("#agetr").attr("hidden","didden");
        });
//     	jsp delete        
        $("#deletebutton2").click(function() {
        	document.getElementById("deletebutton").setAttribute("hidden","hidden");
    		document.getElementById("deletebutton2").setAttribute("hidden","hidden");
    		document.getElementById("addbutton").removeAttribute("hidden");
    		document.getElementById("agetr").setAttribute("hidden","hidden");
        });
//      backf  
        $("#backf").click(function() {
        	  $("#name").attr("value",name);
              $("#sex").attr("value",sex);
              $("#kougo").attr("value",kougo);
              $("#age").attr("value",age);

        });
//     	jquery clear       
        $("#clearjquery").click(function() {
        	if($("#name").val()!="") {name = $("#name").val();}
        	if($("#sex").val()!=""){sex = $("#sex").val();}
        	if($("#kougo").val()!=""){kougo = $("#kougo").val();}
        	if($("#age").val()!=""){age = $("#age").val();}
        	 
            $("#name").attr("value","");
            $("#sex").attr("value","");
            $("#kougo").attr("value","");
            $("#age").attr("value","");
        });
        
//      jsp clear
        $("#clearjsp").click(function() {
        	document.getElementById("name").setAttribute("value","");
        	document.getElementById("sex").setAttribute("value","");
        	document.getElementById("kougo").setAttribute("value","");
        	document.getElementById("age").setAttribute("value","");
         
        });
        
        $("#kousinjsp").click(function() {
        	document.getElementById("form1").submit();
        	alert("更新成功 !工号: " + $("#kougo").val() + "\姓名: " + $("#name").val() + "\性別: " +$("#sex").val()+ "\年齢: " +$("#age").val() );
        });
        		



    });
	</script>

	</head>
<body  class="flex-center" >
		
		<div align="center"> <h1>用户信息</h1></div>
		<div>
			<form id="form1" method="post" action="/test01">
			<table background="../static/png/body.jpg" border="1" bordercolor="black" align="center">
				<tr id="kougoutr">
					<td>工号:</td><td ><input id="kougo" th:value="${tUserInfo.get(0).getPwd()}"></td>
				</tr>
				<tr>
		            <td>姓名:</td><td ><input id="name"  style="color:red" th:value="${tUserInfo.get(0).getUserName()}"></td>
				</tr>
				<tr>
					<td>性别:</td><td ><input id="sex" th:value="${tUserInfo.get(0).getSex()}"></td>
				</tr>
				<tr id="agetr" hidden="hidden">
					<td>年龄:</td><td ><input id="age" th:value="${tUserInfo.get(0).getAge()}"></td>
				</tr>
				<tr align="center">
					<td></td>				
					<td>
						<input id="kousinjsp" type="submit" value="kousin(jsp)" >
						<input id="kousinjquery" type="submit" hidden="hidden" value="kousin(jquery)" >
					</td>
				</tr>
			</form>	
			</table>
			<form id="form2" method="post" action="/test02">
			<table align="center">
				<tr align="center">
					<td><input  id="addbutton" type="button"  value="add_age" ></td>
				</tr>
				<tr align="center" >
					<td><input id="deletebutton" type="button" hidden="hidden" value="delete(jquery)"></td>
					<td><input id="deletebutton2" type="button" hidden="hidden" value="delete(jsp)" onclick="delete2()"></td>
				</tr>
				<tr align="center">
					<td><input id="clearjquery" type="button" value="clear(jquery)" ></td>
					<td><input id="clearjsp" type="button" value="clear(jsp)" ></td>
				</tr>
				<tr>	
					<td><input id="backf" type="button" value="back(f)" ></td>
					<td><input id="backb" type="submit" value="back(b)" ></td>
				</tr>
			</table>
			</form >
			
			
		
		</div>
</body>


</html>