<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyron.atsdemo.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.hyron.atsdemo.pojo.Emp">
        <id  column="job_id" jdbcType="VARCHAR" property="jobId"/>
        <result column="dep_id" jdbcType="VARCHAR" property="depId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="birthday_datetime" jdbcType="TIMESTAMP" property="birthdayDatetime"/>
        <result column="leave_school_time" jdbcType="INTEGER" property="leaveSchoolTime"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="join_time" jdbcType="TIMESTAMP" property="joinTime"/>
        <result column="on_job_flag" jdbcType="INTEGER" property="onJobFlag"/>
        <result column="leave_time" jdbcType="TIMESTAMP" property="leaveTime"/>
        <result column="emp_img" jdbcType="VARCHAR" property="empImg"/>
        <result column="login_user" jdbcType="VARCHAR" property="loginUser"/>
        <result column="login_datetime" jdbcType="TIMESTAMP" property="loginDatetime"/>
        <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
<sql id="Base">
    job_id,dep_id,project_id,emp_name,sex,birthday_datetime,leave_school_time,school,join_time,on_job_flag,leave_time,emp_img
</sql>

    <select id="findAll" resultMap="BaseResultMap" >
        select <include refid="Base"></include> from t_emp
    </select>

<insert id="setDataFromExcel"  parameterType="com.hyron.atsdemo.pojo.Emp">
    insert into t_emp
    (<include refid="Base"></include>)
     values (
        #{jobId},#{depId},#{projectId},#{empName},#{sex},#{birthdayDatetime},#{leaveSchoolTime},
    #{school},#{joinTime},#{onJobFlag},#{leaveTime},#{empImg}
    )
    </insert>

</mapper>