<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyron.atsdemo.mapper.NumberMapper">

    <sql id="Base_List">
        job_no, avatar, create_time, email, nickname, password,update_time, username
    </sql>

    <select id="findByJobNoAndPassword" parameterType="com.hyron.atsdemo.pojo.Number" resultType="com.hyron.atsdemo.pojo.Number">
        select <include refid="Base_List" />
        from t_number
        where job_no = #{job_no,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="findByJobNo" parameterType="java.lang.String" resultType="com.hyron.atsdemo.pojo.Number">
        select <include refid="Base_List" />
        from t_number
        where job_no = #{job_no,jdbcType=VARCHAR}
    </select>
</mapper>