<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyron.atsdemo.mapper.WorkTimeMapper">

    <resultMap id="BaseResultMap" type="com.hyron.atsdemo.pojo.WorkTime">
        <id column="no" jdbcType="INTEGER" property="no"/>
        <result column="dep_id" jdbcType="VARCHAR" property="depId"/>
        <result column="job_id" jdbcType="VARCHAR" property="jobId"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="work_datetime" jdbcType="TIMESTAMP" property="workDatetime"/>
        <result column="am_time" jdbcType="TIMESTAMP" property="amTime"/>
        <result column="pm_time" jdbcType="TIMESTAMP" property="pmTime"/>
        <result column="overtime" jdbcType="INTEGER" property="overtime"/>
        <result column="login_user" jdbcType="VARCHAR" property="loginUser"/>
        <result column="login_datetime" jdbcType="TIMESTAMP" property="loginDatetime"/>
        <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_List">
        dep_id,job_id,emp_name,work_datetime,am_time,pm_time
    </sql>

<insert id="setDataFromExcel">
    insert into t_work_time
     value
</insert>
</mapper>