<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
    <div>
        <div>考勤管理</div>
        <form action="" th:action="@{/login}" autocomplete="off" method="post">
            <div>
                <label for="jobId">工号：</label>
                <div>
                    <input type="text" name="jobId" id="jobId" placeholder="请输入您的工号">
                </div>
            </div>

            <div>
                <label for="password" >密码：</label>
                <div>
                    <input type="password" name="password" id="password" placeholder="请输入您的密码">
                </div>
            </div>
            <div>
                <button type="submit" value="提交">登录</button>
            </div>
        </form>
    </div>
</body>
</html>