<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!-- 	<link rel="stylesheet" media="screen" href="css/login.css"> -->
	<title>员工详细情报</title>
	
	<script>
	$(document).ready(function() {
// 变量定义		 
		let nameinput= $("#nameinput").val();
     	let sexinput=$("#sexinput").val();
     	let kougoinput=$("#kougoinput").val();
	    let bumeninput=$("#bumeninput").val();
    	let bornyearinput=$("#bornyearinput").val();
     	let bornmouthinput=$("#bornmouthinput").val();
     	let borndayinput=$("#borndayinput").val();
     	let schoolinput=$("#schoolinput").val();
     	let leaveschoolyearinput=$("#leaveschoolyearinput").val();
     	let leaveschoolmouthinput=$("#leaveschoolmouthinput").val();
     	let leaveschooldayinput=$("#leaveschooldayinput").val();
    	let workyearinput=$("#workyearinput").val();
    	let workmouthinput=$("#workmouthinput").val();
    	let workdayinput=$("#workdayinput").val();
    	let koumokuininput=$("#koumokuininput").val();
    	let leaveworkyearinput=$("#leaveworkyearinput").val();
    	let leaveworkmouthinput=$("#leaveworkmouthinput").val();
    	let leaveworkdayinput=$("#leaveworkdayinput").val();
// 	数据初始化显示
		 let workstatus=1;
		 $("#nameinput").attr("hidden","hidden");
		 $("#sexinput").attr("hidden","hidden");
		 $("#kougoinput").attr("hidden","hidden");
		 $("#bumeninput").attr("hidden","hidden");
		 $("#bornyearinput").attr("hidden","hidden");
		 $("#bornmouthinput").attr("hidden","hidden");
		 $("#borndayinput").attr("hidden","hidden");
		 $("#schoolinput").attr("hidden","hidden");
		 $("#leaveschoolyearinput").attr("hidden","hidden");
		 $("#leaveschoolmouthinput").attr("hidden","hidden");
		 $("#leaveschooldayinput").attr("hidden","hidden");
		 $("#workyearinput").attr("hidden","hidden");
		 $("#workmouthinput").attr("hidden","hidden");
		 $("#workdayinput").attr("hidden","hidden");
		 $("#koumokuininput").attr("hidden","hidden");
		 $("#leaveworkyearinput").attr("hidden","hidden");
		 $("#leaveworkmouthinput").attr("hidden","hidden");
		 $("#leaveworkdayinput").attr("hidden","hidden");
		 if(workstatus==1){
         	$("#workstatus1").attr("hidden","hidden");
         	$("#workstatus2").attr("hidden","hidden");
         	$("#workstatus3").removeAttr("hidden","hidden");
         	$("#workstatus4").attr("hidden","hidden");
         	$("#koumokuin1").removeAttr("hidden","hidden");
         	$("#koumokuin2").removeAttr("hidden","hidden");
         	$("#koumokuout1").attr("hidden","hidden");
         	$("#koumokuout2").attr("hidden","hidden");
         	$("#koumokuintext").removeAttr("hidden","hidden");
         }else{
         	$("#workstatus1").attr("hidden","hidden");
         	$("#workstatus2").attr("hidden","hidden");
         	$("#workstatus3").attr("hidden","hidden");
         	$("#workstatus4").removeAttr("hidden","hidden");
         	$("#koumokuin1").attr("hidden","hidden");
         	$("#koumokuin2").attr("hidden","hidden");
         	$("#koumokuout1").removeAttr("hidden","hidden");
         	$("#koumokuout2").removeAttr("hidden","hidden");
         	$("#leaveworkyeartext").removeAttr("hidden","hidden");
    		$("#leaveworkmouthtext").removeAttr("hidden","hidden"); 
    		$("#leaveworkdaytext").removeAttr("hidden","hidden");
         }
		 $("#nametext").removeAttr("hidden","hidden");
		 $("#sextext").removeAttr("hidden","hidden");
		 $("#kougotext").removeAttr("hidden","hidden");
		 $("#bumentext").removeAttr("hidden","hidden");
		 $("#bornyeartext").removeAttr("hidden","hidden");
		 $("#bornmouthtext").removeAttr("hidden","hidden");
		 $("#borndaytext").removeAttr("hidden","hidden");
		 $("#schooltext").removeAttr("hidden","hidden");
		 $("#leaveschoolyeartext").removeAttr("hidden","hidden");
		 $("#leaveschoolmouthtext").removeAttr("hidden","hidden"); 
		 $("#leaveschooldaytext").removeAttr("hidden","hidden");
		 $("#workyeartext").removeAttr("hidden","hidden");
		 $("#workmouthtext").removeAttr("hidden","hidden"); 
		 $("#workdaytext").removeAttr("hidden","hidden");
// 	保存图片变换	
        $("#saveimgbutton").mouseover(function() {
            $("#saveimgbutton").attr("src","../static/png/saveon.png");
         
        });
        $("#saveimgbutton").mouseleave(function() {
            $("#saveimgbutton").attr("src","../static/png/save.png");
        });    
//  保存click操作      
        $("#saveimgbutton").click(function() {
//     获取input输入参数    	
			nameinput= $("#nameinput").val();
     		sexinput=$("#sexinput").val();
     		kougoinput=$("#kougoinput").val();
	  	    bumeninput=$("#bumeninput").val();
    		bornyearinput=$("#bornyearinput").val();
     		bornmouthinput=$("#bornmouthinput").val();
     		borndayinput=$("#borndayinput").val();
     		schoolinput=$("#schoolinput").val();
     		leaveschoolyearinput=$("#leaveschoolyearinput").val();
     	 	leaveschoolmouthinput=$("#leaveschoolmouthinput").val();
    	 	leaveschooldayinput=$("#leaveschooldayinput").val();
    		workyearinput=$("#workyearinput").val();
    		workmouthinput=$("#workmouthinput").val();
    		workdayinput=$("#workdayinput").val();
    		koumokuininput=$("#koumokuininput").val();
    		leaveworkyearinput=$("#leaveworkyearinput").val();
    		leaveworkmouthinput=$("#leaveworkmouthinput").val();
    		leaveworkdayinput=$("#leaveworkdayinput").val();
        	
//     设置text参数    	
            $("#nametext").text(nameinput);
 	   		$("#sextext").text(sexinput);
 	   		$("#kougotext").text(kougoinput);
 	   		$("#bumentext").text(bumeninput);
	   		$("#bornyeartext").text(bornyearinput);
	   		$("#bornmouthtext").text(bornmouthinput);
	   		$("#borndaytext").text(borndayinput);
	  	 	$("#schooltext").text(schoolinput);
 	   		$("#leaveschoolyeartext").text(leaveschoolyearinput);
 	   		$("#leaveschoolmouthtext").text(leaveschoolmouthinput);
 	 	  	$("#leaveschooldaytext").text(leaveschooldayinput);
 	   		$("#workyeartext").text(workyearinput);
 	   		$("#workmouthtext").text(workmouthinput);
 	   		$("#workdaytext").text(workdayinput);
 	   		$("#koumokuintext").text(koumokuininput);
 	   		$("#leaveworkyeartext").text(leaveworkyearinput);
	   		$("#leaveworkmouthtext").text(leaveworkmouthinput);
	   		$("#leaveworkdaytext").text(leaveworkdayinput);
// 		在职状态 	   	
            if(workstatus==1){
            	$("#workstatus1").attr("hidden","hidden");
            	$("#workstatus2").attr("hidden","hidden");
            	$("#workstatus3").removeAttr("hidden","hidden");
            	$("#workstatus4").attr("hidden","hidden");
            	$("#koumokuin1").removeAttr("hidden","hidden");
            	$("#koumokuin2").removeAttr("hidden","hidden");
            	$("#koumokuout1").attr("hidden","hidden");
            	$("#koumokuout2").attr("hidden","hidden");
            }else if(workstatus==2){
            	$("#workstatus1").attr("hidden","hidden");
            	$("#workstatus2").attr("hidden","hidden");
            	$("#workstatus3").attr("hidden","hidden");
            	$("#workstatus4").removeAttr("hidden","hidden");
            	$("#koumokuin1").attr("hidden","hidden");
            	$("#koumokuin2").attr("hidden","hidden");
            	$("#koumokuout1").removeAttr("hidden","hidden");
            	$("#koumokuout2").removeAttr("hidden","hidden");
            }else{}
 	   		
	   		$("input").attr("hidden","hidden");
            $("textarea").attr("hidden","hidden");
            $("#editimgbutton").removeAttr("hidden","hidden");
            $("#saveimgbutton").attr("hidden","hidden");
            
            $("text").removeAttr("hidden","hidden");
//  	top变换           
            $("#employeetoptext").text("员工详细情报-保存成功");
            
        });
//   编辑图片变化    
        $("#editimgbutton").mouseover(function() {
            $("#editimgbutton").attr("src","../static/png/editon.png");
         
        });
        $("#editimgbutton").mouseleave(function() {
            $("#editimgbutton").attr("src","../static/png/edit.png");
         
        });
//   编辑click操作  
        $("#editimgbutton").click(function() {
//  	input清空     
			$("input").attr("value","");
			
//      input导入text参数     
			nameinput= $("#nametext").text();
         	sexinput=$("#sextext").text();
         	kougoinput=$("#kougotext").text();
  	     	bumeninput=$("#bumentext").text();
        	bornyearinput=$("#bornyeartext").text();
         	bornmouthinput=$("#bornmouthtext").text();
         	borndayinput=$("#borndaytext").text();
         	schoolinput=$("#schooltext").text();
         	leaveschoolyearinput=$("#leaveschoolyeartext").text();
         	leaveschoolmouthinput=$("#leaveschoolmouthtext").text();
         	leaveschooldayinput=$("#leaveschooldaytext").text();
        	workyearinput=$("#workyeartext").text();
        	workmouthinput=$("#workmouthtext").text();
        	workdayinput=$("#workdaytext").text();
        	koumokuininput=$("#koumokuintext").text();
        	leaveworkyearinput=$("#leaveworkyeartext").text();
        	leaveworkmouthinput=$("#leaveworkmouthtext").text();
        	leaveworkdayinput=$("#leaveworkdaytext").text();
        	

            $("#nameinput").attr("value",nameinput);
 	   		$("#sexinput").attr("value",sexinput);
 	   		$("#kougoinput").attr("value",kougoinput);
 	   		$("#bumeninput").attr("value",bumeninput);
	   		$("#bornyearinput").attr("value",bornyearinput);
	   		$("#bornmouthinput").attr("value",bornmouthinput);
	   		$("#borndayinput").attr("value",borndayinput);
	  	 	$("#schoolinput").attr("value",schoolinput);
 	   		$("#leaveschoolyearinput").attr("value",leaveschoolyearinput);
 	   		$("#leaveschoolmouthinput").attr("value",leaveschoolmouthinput);
 	 	  	$("#leaveschooldayinput").attr("value",leaveschooldayinput);
 	   		$("#workyearinput").attr("value",workyearinput);
 	   		$("#workmouthinput").attr("value",workmouthinput);
 	   		$("#workdayinput").attr("value",workdayinput);
 	   		$("#koumokuininput").attr("value",koumokuininput);
 	   		$("#leaveworkyearinput").attr("value",leaveworkyearinput);
	   		$("#leaveworkmouthinput").attr("value",leaveworkmouthinput);
	   		$("#leaveworkdayinput").attr("value",leaveworkdayinput);
//	   	input显示        	
            $("input").removeAttr("hidden","hidden");
            $("textarea").removeAttr("hidden","hidden");

//  textarea清空
            $("textarea").text("");
//      图片变化             
            $("#editimgbutton").attr("hidden","hidden");
            $("#saveimgbutton").removeAttr("hidden","hidden");
//      在职选择徒添显示            
            $("#workstatus1").removeAttr("hidden","hidden");
        	$("#workstatus2").removeAttr("hidden","hidden");
        	$("#workstatus3").attr("hidden","hidden");
        	$("#workstatus4").attr("hidden","hidden");
        	$("#koumokuin1").attr("hidden","hidden");
         	$("#koumokuin2").attr("hidden","hidden");
         	$("#koumokuout1").attr("hidden","hidden");
         	$("#koumokuout2").attr("hidden","hidden");
//      text隐藏             
            $("text").attr("hidden","hidden");
            
//		top变换          
            $("#employeetoptext").text("员工详细情报-编辑中");
            $("#employeetoptext").removeAttr("hidden","hidden");
           
        });
// 工作状态图片变换        
        $("#workstatus1").mouseover(function() {
            $("#workstatus1").attr("src","../static/png/working.png");
         
        });
        $("#workstatus1").mouseleave(function() {
            $("#workstatus1").attr("src","../static/png/workunchoose.png");
         
        });  
        
        $("#workstatus2").mouseover(function() {
            $("#workstatus2").attr("src","../static/png/workout.png");
         
        });
        $("#workstatus2").mouseleave(function() {
            $("#workstatus2").attr("src","../static/png/workoutunchoose.png");
         
        }); 
// 工作状态 在职中click       
        $("#workstatus1").click(function() {
        	workstatus=1;
            $("#workstatus1").attr("hidden","hidden");
            $("#workstatus4").attr("hidden","hidden");
            $("#workstatus3").removeAttr("hidden","hidden");
            $("#workstatus2").removeAttr("hidden","hidden");
            $("#workstatus2").attr("src","../static/png/workoutunchoose.png");
            $("#koumokuin1").removeAttr("hidden","hidden");
         	$("#koumokuin2").removeAttr("hidden","hidden");
         	$("#koumokuout1").attr("hidden","hidden");
         	$("#koumokuout2").attr("hidden","hidden");
        });
// 工作状态 已离职click           
        $("#workstatus2").click(function() {
        	workstatus=2;
        	$("#workstatus2").attr("hidden","hidden");
            $("#workstatus4").removeAttr("hidden","hidden");
            $("#workstatus3").attr("hidden","hidden");
            $("#workstatus1").removeAttr("hidden","hidden");
            $("#workstatus1").attr("src","../static/png/workunchoose.png");
            $("#koumokuin1").attr("hidden","hidden");
         	$("#koumokuin2").attr("hidden","hidden");
         	$("#koumokuout1").removeAttr("hidden","hidden");
         	$("#koumokuout2").removeAttr("hidden","hidden");
        });
        
        
	});    
    </script>    
</head>

<body id="employeeinfobody">


<!--top      -->
	<div id="top"  style="float:left;width:100%;height:80px;background-image:url('../static/png/top.jpg')">
		
		<div style="float:left;width:40%;height:100%;">
			<div style="float:left;width:100%;height:20%;" ></div>
			<div style="float:left;width:100%;height:80%;" ><b style="color:rgb(255,255,255);margin-left:80px;font-size:25px"><a href="http://www.baidu.com">>></a><text id="employeetoptext">员工详细情报</text></b></div>
		</div>
		<div style="float:right;width:30%;height:100%">
			<img id="yuki" src="../static/png/yuki.png" style="width:56px;height:56px;border:0px solid gray ;margin-top:12px;margin-bottom:20px;margin-left:21px;">
			<img id="yuki" src="../static/png/yuki.png" style="width:56px;height:56px;border:0px solid gray ;margin-top:12px;margin-bottom:20px;margin-left:21px;">
			<img id="yuki" src="../static/png/yuki.png" style="width:56px;height:56px;border:0px solid gray ;margin-top:12px;margin-bottom:20px;margin-left:21px;">
			<img id="yuki" src="../static/png/yuki.png" style="width:56px;height:56px;border:0px solid gray ;margin-top:12px;margin-bottom:20px;margin-left:21px;">
		</div>
	</div>
<!-- mid	 -->
	<div id="mid" style="float:left;width:100%;height:1012px;background:url('../static/png/midbg4.jpg');display:flex;justify-content: center; align-items:center;">
<!-- 		<div id="midleft" style="float:left;width:19%;height:1012px"></div>  -->
		
		<div id="midmid"  style="float:left;width:720px;height:1012px;border:1px solid gray">
			<div id="midmidright1" style="float:left;width:100%;height:20px;background-image:url('../static/png/midtop.jpg')"></div>
			<div id="midmidleffimgtop1" style="float:left;width:100%;height:2px;background-color:rgb(253,79,75)"></div>
			<div id="midmidleffimgtop2" style="float:left;width:100%;height:2px;background-color:rgb(245,254,80)"></div>
			<div id="midmidleffimgtop3" style="float:left;width:100%;height:2px;background-color:rgb(80,242,254)"></div>
			
			<div id="midmidleft" style="float:left;width:30%;height:960px;">
				
				<div id="midmidlefttop" style="float:left;width:100%;height:280px;background:rgb(255,252,214)">
					<img id="employeeimg" src="../static/png/body.jpg" style="width:171px;height:238px;border:1px solid gray ;margin-top:20px;margin-bottom:20px;margin-left:21px;">
				</div>
				<div id="midmidleffimgbottom1" style="float:left;width:100%;height:2px;background-color:rgb(253,79,75)"></div>
				<div id="midmidleffimgbottom2" style="float:left;width:100%;height:2px;background-color:rgb(245,254,80)"></div>
				<div id="midmidleffimgbottom3" style="float:left;width:100%;height:2px;background-color:rgb(80,242,254)"></div>
				
				<div id="midmidleftmid1" style="float:left;width:100%;height:364px;background-color:rgb(253,230,205)">
					<table style="width:95%;height:30%;margin-left:10px;margin-top:10px">
						<tr >
							<td style="width:50px;font-size:8px;align:left"><b>姓名：</b>
							<input id="nameinput" type="text" value="圣代" style="width:55px;height:15px">
							<text id="nametext" hidden="hidden" style="width:55px;height:15px" >圣代</text>
							<b>性别：</b>
							<input id="sexinput" type="text" value="nan" style="width:30px;height:15px">
							<text id="sextext" hidden="hidden" style="width:30px;height:15px" >女</text>
							</td>
							
						</tr>
						<tr style="height:5px"></tr>
						<tr >
							<td style="font-size:8px;align:left"><b>工号：</b>
							<input id="kougoinput" type="text" value="JS0000" style="width:55px;height:15px">
							<text id="kougotext" hidden="hidden" style="width:55px;height:15px" >JS1231</text>
							<b>部门：</b>
							<input id="bumeninput" type="text" value="D311" style="width:30px;height:15px">
							<text id="bumentext" hidden="hidden" style="width:30px;height:15px">D312</text>
							</td>
						</tr>
						<tr style="height:10px"></tr>
						<tr  >
							<td style="font-size:8px;align:left"><b>出生日期：</b></td>
						</tr>
						<tr>	
							<td style="width:50px;font-size:8px;align:left">
							<input id="bornyearinput" type="text" value="2021" style="width:40px;height:15px">
							<text id="bornyeartext" hidden="hidden" >2232</text>
							年
							<input id="bornmouthinput" type="text" value="12" style="width:20px;height:15px">
							<text id="bornmouthtext" hidden="hidden" >11</text>
							月
							<input id="borndayinput" type="text" value="25" style="width:20px;height:15px">
							<text id="borndaytext" hidden="hidden" >03</text>
							日
							</td>
						</tr>
						<tr >
							<td style="font-size:8px;align:left"><b>毕业院校：</b></td>
						</tr>
						<tr>	
							<td style="font-size:8px;align:left">
								<input id="schoolinput" type="text" value="毕业院校毕业院校毕业院校" style="width:180px;height:15px">
								<text id="schooltext" hidden="hidden" >哈哈哈哈哈哈哈哈哈</text>
							</td>
						</tr>
						<tr >
							<td style="font-size:8px;align:left"><b>毕业日期：</b></td>
						</tr>
						<tr>	
							<td style="width:50px;font-size:8px;align:left">
								<input id="leaveschoolyearinput" type="text" value="2222" style="width:40px;height:15px">
								<text id="leaveschoolyeartext" hidden="hidden" >1234</text>
								年
								<input id="leaveschoolmouthinput" type="text" value="22" style="width:20px;height:15px">
								<text id="leaveschoolmouthtext" hidden="hidden" >12</text>
								月
								<input id="leaveschooldayinput" type="text" value="22" style="width:20px;height:15px">
								<text id="leaveschooldaytext" hidden="hidden" >23</text>
								日
							</td>
						</tr>
						<tr >
							<td style="font-size:8px;align:left"><b>入职日期：</b></td>
						</tr>
						<tr>	
							<td style="width:50px;font-size:8px;align:left" >
								<input id="workyearinput" type="text" value="2222" style="width:40px;height:15px">
								<text id="workyeartext" hidden="hidden" >1212</text>
								年
								<input id="workmouthinput" type="text" value="22" style="width:20px;height:15px">
								<text id="workmouthtext" hidden="hidden" >12</text>
								月
								<input id="workdayinput" type="text" value="22" style="width:20px;height:15px">
								<text id="workdaytext" hidden="hidden" >12</text>
								日
							</td>
						</tr>
						<tr >
							<td style="font-size:8px;align:left;vertical-align:middle"><b>在职状况：</b>
								<img id="workstatus1" src="../static/png/workunchoose.png" style="width:50px;height:20px">
								<img id="workstatus3" src="../static/png/workING.png" style="width:50px;height:20px" hidden="hidden">
								&nbsp;
								<img id="workstatus2" src="../static/png/workoutunchoose.png" style="width:50px;height:20px">
								<img id="workstatus4" src="../static/png/workout.png" style="width:50px;height:20px" hidden="hidden">
								<div id="workstatus" hidden="hidden" value="2"></div>
							</td>
						</tr>
							
						<tr id="koumokuin1">
							<td style="font-size:8px;align:left"><b>所属项目：</b></td>
						</tr>
						<tr id=koumokuin2 >	
							<td style="font-size:8px;align:left">
								<input id="koumokuininput" type="text"  style="width:180px;height:15px;">
								<text id="koumokuintext" hidden="hidden" >嗒嗒嗒4123</text>
							</td>
						</tr>
						<tr id="koumokuout1" hidden="hidden">
							<td style="font-size:8px;align:left"><b>退职日期：</b></td>
						</tr>
						<tr id="koumokuout2" hidden="hidden">	
							<td style="width:50px;font-size:8px;align:left">
								<input id="leaveworkyearinput" type="text" value="2222" style="width:40px;height:15px">
								<text id="leaveworkyeartext" hidden="hidden" >03</text>
								年
								<input id="leaveworkmouthinput" type="text" value="22" style="width:20px;height:15px">
								<text id="leaveworkmouthtext" hidden="hidden" >03</text>
								月
								<input id="leaveworkdayinput" type="text" value="22" style="width:20px;height:15px">
								<text id="leaveworkdaytext" hidden="hidden" >03</text>
								日
							</td>
						</tr>
					</table>	
					
				</div>
				<div id="midmidleffkinotop1" style="float:left;width:100%;height:2px;background-color:rgb(253,79,75)"></div>
				<div id="midmidleffkinotop2" style="float:left;width:100%;height:2px;background-color:rgb(245,254,80)"></div>
				<div id="midmidleffkinotop3" style="float:left;width:100%;height:2px;background-color:rgb(80,242,254)"></div>
				<div id="midmidleftmid2" style="float:left;width:100%;height:240px;background-color:rgb(253,206,176)">
					<table style="height:95%;margin-left:20px;border-spacing:0px;border-collapse:collapse">
						<tr>
							<td style="width:80px"><b >掌握技能：</b></td>
						<tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">Java</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">C#</td>
							<td style="font-size:4px;align:left;border:1px solid gray">2</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">Android</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">IOS</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">C++</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">.Net</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">Spring</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">Oracle</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">Mysql</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">SqlServer</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">JSP</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">Jquery</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">CSS</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">HTML</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">Thymeleaf</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">Angular</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
						<tr style="height:8px">
							<td style="font-size:4px;align:left;border:1px solid gray">VUE</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
							<td style="width:5px"></td>
							<td style="font-size:4px;align:left;border:1px solid gray">React</td>
							<td style="font-size:4px;align:left;border:1px solid gray">1</td>
						</tr>
					</table>
					
					
				</div>
				<div id="midmidleffkinotop1" style="float:left;width:100%;height:2px;background-color:rgb(253,79,75)"></div>
				<div id="midmidleffkinotop2" style="float:left;width:100%;height:2px;background-color:rgb(245,254,80)"></div>
				<div id="midmidleffkinotop3" style="float:left;width:100%;height:2px;background-color:rgb(80,242,254)"></div>
				<div id="midmidleftbottom" style="float:left;width:100%;height:58px;background-color:rgb(255,255,235)">
				
					<img id="saveimgbutton" src="../static/png/save.png" hidden="hidden" style="width:124px;height:50px;border:0px solid gray ;margin-top:4px;margin-left:50px;">
					<img id="editimgbutton" src="../static/png/edit.png" style="width:124px;height:50px;border:0px solid gray ;margin-top:4px;margin-left:50px;">
					
				</div>
				
			</div>
		
			<div id="midmidright" style="float:left;border-left:1px solid gray;width:503px;height:960px">
				
				<div id="midmidright2" style="float:left;width:100%;height:240px;background:rgb(255,240,255)">
					<table class="worktable" style="width:90%;height:90%;margin-left:30px;margin-top:10px">
						<tr class="workkaishanametr"style="width:99%;height:15%;">
							<td style="">会社名称：<input id="kaishanameinput" type="text" value="会社11111" style="width:100px;height:19px"></td>
						</tr>
						<tr class="workshokumutr"style="width:99%;height:15%;">
							<td style="">担任职位：<input id="shokumuinput" type="text" value="职务22222" style="width:100px;height:19px"></td>
						</tr>
						<tr class="worktimetr"style="width:99%;height:15%;">
							<td style="">
								工作时间：
								<input id="worktimeinputfromyear" type="text" value="0222" style="width:35px;height:19px">
								年
								<input id="worktimeinputfrommouth" type="text" value="22" style="width:20px;height:19px">
								月~
								<input id="worktimeinputtoyear" type="text" value="0222" style="width:35px;height:19px">
								年
								<input id="worktimeinputtomouth" type="text" value="22" style="width:20px;height:19px">
								月
							</td>
						</tr>
						<tr class="koumokuinfotr"style="width:99%;height:55%;">
							<td><textarea class="koumokuinfo" style="resize:none;width:90%;height:90%;margin-top:5%;margin-left:5%">经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历</textarea></td>
						</tr>
						
					</table>
				</div>
				
				<div id="midmidright3" style="float:left;width:100%;height:240px;background:rgb(240,255,255)">
					<table class="worktable" style="width:90%;height:90%;margin-left:30px;margin-top:10px">
							<tr class="workkaishanametr"style="width:99%;height:15%;">
								<td style="">会社名称：<input id="kaishanameinput" type="text" value="会社11111" style="width:100px;height:19px"></td>
							</tr>
							<tr class="workshokumutr"style="width:99%;height:15%;">
								<td style="">担任职位：<input id="shokumuinput" type="text" value="职务22222" style="width:100px;height:19px"></td>
							</tr>
							<tr class="worktimetr"style="width:99%;height:15%;">
								<td style="">
									工作时间：
									<input id="worktimeinputfromyear" type="text" value="0222" style="width:35px;height:19px">
									年
									<input id="worktimeinputfrommouth" type="text" value="22" style="width:20px;height:19px">
									月~
									<input id="worktimeinputtoyear" type="text" value="0222" style="width:35px;height:19px">
									年
									<input id="worktimeinputtomouth" type="text" value="22" style="width:20px;height:19px">
									月
								</td>
							</tr>
							<tr class="koumokuinfotr"style="width:99%;height:55%;">
								<td><textarea class="koumokuinfo" style="resize:none;width:90%;height:90%;margin-top:5%;margin-left:5%">经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历</textarea></td>
							</tr>
							
						</table>
				</div>
				<div id="midmidright4" style="float:left;width:100%;height:240px;background-color:rgb(255,240,255)">
					<table class="worktable" style="width:90%;height:90%;margin-left:30px;margin-top:10px">
						<tr class="workkaishanametr"style="width:99%;height:15%;">
							<td style="">会社名称：<input id="kaishanameinput" type="text" value="会社11111" style="width:100px;height:19px"></td>
						</tr>
						<tr class="workshokumutr"style="width:99%;height:15%;">
							<td style="">担任职位：<input id="shokumuinput" type="text" value="职务22222" style="width:100px;height:19px"></td>
						</tr>
						<tr class="worktimetr"style="width:99%;height:15%;">
							<td style="">
								工作时间：
								<input id="worktimeinputfromyear" type="text" value="0222" style="width:35px;height:19px">
								年
								<input id="worktimeinputfrommouth" type="text" value="22" style="width:20px;height:19px">
								月~
								<input id="worktimeinputtoyear" type="text" value="0222" style="width:35px;height:19px">
								年
								<input id="worktimeinputtomouth" type="text" value="22" style="width:20px;height:19px">
								月
							</td>
						</tr>
						<tr class="koumokuinfotr"style="width:99%;height:55%;">
							<td><textarea class="koumokuinfo" style="resize:none;width:90%;height:90%;margin-top:5%;margin-left:5%">经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历</textarea></td>
						</tr>
						
					</table>
				</div>
				<div id="midmidright5" style="float:left;width:100%;height:240px;background-color:rgb(240,255,255)">
					<table class="worktable" style="width:90%;height:90%;margin-left:30px;margin-top:10px">
						<tr class="workkaishanametr"style="width:99%;height:15%;">
							<td style="">会社名称：<input id="kaishanameinput" type="text" value="会社11111" style="width:100px;height:19px"></td>
						</tr>
						<tr class="workshokumutr"style="width:99%;height:15%;">
							<td style="">担任职位：<input id="shokumuinput" type="text" value="职务22222" style="width:100px;height:19px"></td>
						</tr>
						<tr class="worktimetr"style="width:99%;height:15%;">
							<td style="">
								工作时间：
								<input id="worktimeinputfromyear" type="text" value="0222" style="width:35px;height:19px">
								年
								<input id="worktimeinputfrommouth" type="text" value="22" style="width:20px;height:19px">
								月~
								<input id="worktimeinputtoyear" type="text" value="0222" style="width:35px;height:19px">
								年
								<input id="worktimeinputtomouth" type="text" value="22" style="width:20px;height:19px">
								月
							</td>
						</tr>
						<tr class="koumokuinfotr"style="width:99%;height:55%;">
							<td><textarea class="koumokuinfo" style="resize:none;width:90%;height:90%;margin-top:5%;margin-left:5%">经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历经历</textarea></td>
						</tr>
						
					</table>
				</div>
				
			</div>
			<div id="midmidleffimgtop1" style="float:left;width:100%;height:2px;background-color:rgb(253,79,75)"></div>
			<div id="midmidleffimgtop2" style="float:left;width:100%;height:2px;background-color:rgb(245,254,80)"></div>
			<div id="midmidleffimgtop3" style="float:left;width:100%;height:2px;background-color:rgb(80,242,254)"></div>
			<div id="midmidright6" style="float:left;width:100%;height:20px;background-image:url('../static/png/midbottom.jpg')"></div>
		</div>
<!-- 		<div id="midright"  style="float:left;width:19%;height:100%;background-image:url('../static/png/right2.jpg')"></div> -->
	</div>
<!-- bottom	 -->
	<div id=bottom style="float:left;width:100%;height:100px;background-image:url('../static/png/bottom.jpg')">
	<br/>
	<b style="color:rgb(255,255,255);margin-left:300px">buttombuttombuttombuttombuttombuttombuttombuttombuttombuttom</b>
	</div>


</body>

</html>