h1 {
    text-align: center;
    font-weight: bold;
}

div {
    width: 530px;
    height: auto;
    margin: auto;
}


tr th,td{
	border:1px solid black;
}

.user{
	margin: auto;
	border-collapse:collapse;
}

.text{
	border:none;
	outline: none;
}
